<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header></header>
<main>
    <div class="content reader">
        <nav>
        <button onclick="window.location.href='/update/{{ post.id }}'" type="button" class="slim">Update</button>
        <button onclick="window.location.href='/delete/{{ post.id }}'" type="button" class="slim del">Delete</button>

        {% if post.id > 1 %}
        <button onclick="window.location.href='/article/{{ post.id - 1 }}'" type="button" class="slim">Previous</button>
        {% endif %}

        {% if post.id < max_post_id %}
        <button onclick="window.location.href='/article/{{ post.id + 1 }}'" type="button" class="slim">Next</button>
        {% endif %}
            </nav>

        <img src="{{ post.image }}" alt="{{ post.title }}" class="cover">

        <h1>{{ post.title }}</h1>
        <p class="weight-light author">Written by {{ post.author }} on {{ post.date }}{% if post.likes and post.likes > 0 %}, liked <span id="like-count">{{ post.likes }}</span> times{% else %}<span id="like-count" style="display:none;">0</span>{% endif %}.</p>
        <button id="like-button" type="button">Like</button>
        <p>{{ post.content }}</p>
    </div>
</main>
<footer></footer>
<script>
    const likeUrl = "{{ url_for('like', id=post.id) }}";
    const headerUrl = "{{ url_for('static', filename='../static/header.html') }}";
    const footerUrl = "{{ url_for('static', filename='../static/footer.html') }}";
</script>
<script src="{{ url_for('static', filename='add.js') }}" defer></script>
<script src="{{ url_for('static', filename='layout.js') }}" defer></script>
<script src="{{ url_for('static', filename='toggle_design.js') }}" defer></script>
<script src="{{ url_for('static', filename='like.js') }}" defer></script>
</body>
</html>
