<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">

</head>
<header></header>
<body>
        <div class="content reader">
            <h2>Studio Sen Blog</h2>
            <p>Dies ist ein Beispieltext, der sich je nach Modus anpasst.</p>
        </div>

<footer></footer>
<script src="static/layout.js" defer></script>
<script src="static/toggle_design.js" defer></script>
</body>
</html>