<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<header></header>
<div class="content reader">
    <h2>Update Blog Post</h2>

    <form id="blogForm" method="POST">
        <input type="text" name="title" placeholder="Title" value="{{ post.title }}" required>
        <input type="text" name="author" placeholder="Author" value="{{ post.author }}" required>
        <input type="date" name="date" value="{{ post.date }}" required>
        <textarea name="short_version" placeholder="Short Description" required>{{ post.short_version }}</textarea>
        <textarea name="content" placeholder="Content" required>{{ post.content }}</textarea>
        <input type="url" name="image" placeholder="Image URL" value="{{ post.image }}">

        <input type="text" id="keywordsInput" placeholder="Enter keywords, separated by commas">
        <div class="keywords-container" id="keywordsContainer"></div>

        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>

<footer></footer>
<script src="static/add.js" defer></script>
<script src="static/layout.js" defer></script>
<script src="static/toggle_design.js" defer></script>
</body>
</html>